/*Applying styles to the memory game*/


/*Body Styles*/
body {
text-align: center;
margin: 0px;
}

/*Style for the main content of the page*/
main{
	width: 850px;
	margin: 35px auto;
}

/*Images Styles*/
img {
	margin: 40px 8px;
}

/*Header styles*/
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;

}

h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
text-transform: uppercase;
margin: 0px;
}

h2 {
	text-transform: uppercase;
}

/*Paragraph Styles*/
p {
font-family: "Droid Serif", serif;
}

/*Navigation Styles*/
nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}
a {
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 20px;
	color: white;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}


/*Footer Styles*/
footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}





